// FONTS

$Crimson: 'Crimson Text', serif;
$Lato: 'Lato', sans-serif;

// FONT SIZES
$fz11: 0.688em;
$fz13: 0.813em;
$fz15: 0.938em;
$fz18: 1.125em;
$fz20: 1.250em;
$fz22: 1.375em;
$fz25: 1.563em;
$fz30: 1.875em;
$fz31: 1.938em;
$fz42: 2.625em;
$fz65: 4.063em;